<div class="container">
  <h1 class="text-center mb-3">Termékek</h1>
  <table class="table table-hover table-bordered">
      <tr class="text-center">
          <th>
              <span (click)="newReg()">&#10010;</span>
          </th>
          <th>Terméknév</th>
          <th>Ár</th>
          <th>Kategória</th>
          <th>Raktáros</th>
          <th>Leírás</th>
      </tr>

      @for (product of products; track $index) {
        <tr>
            <td>
                <span (click)="modifyProduct(product)">&#9998;</span>
                <span (click)="deleteProduct(product)">&#10008;</span>
            </td>
            <td>{{product.teamName}}</td>
            <td>{{product.category}}</td>
            <td>{{product.memberCount}}</td>
            <td>{{product.teamLeader}}</td>
            <td>{{product.teamLeaderEmail}}</td>
            <td>{{product.teamLeaderBirthDate}}</td>
        </tr>
      }
  </table>
</div>

<app-team [model]="modify" (saved)="saveModify($event)"></app-team>
<app-team [model]="new" (saved)="saveNew($event)"></app-team>
